<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="form-group">
    <form action="/members/new" method="post">
        <h1>회원 가입</h1>
        <p>
            <label for="ID">ID</label>
            <input type="text" id="ID" name="ID">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
        </p>
        <p>
            <label for="name">회원 이름</label>
            <input type="text" id="name" name="name">
        </p>
        <button onclick="location.href='redirect:/'">저장</button>
    </form>
    </div>
</div> <!-- /container -->
</body>
</html>