<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <p>
            <label for="ID">ID</label>
            <input type="text" id="ID" name="ID">
            </p>
            <p>
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
            </p>
            <p>
            <label for="name">회원 이름</label>
            <input type="text" id="name" name="name">
            </p>
        </div>
        <button type="submit">저장</button>
    </form>
</div> <!-- /container -->
</body>
</html>