<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div class="container">
        <form action="/members/login">
            <div class="form-group">
                <h1>로그인이 완료되었습니다.</h1>
                <p>
                    <label>이름 : </label>
                    <td th:text = "${member.name}"></td>

                </p>
                <p>
                    <label>아이디 : </label>
                    <td th:text = "${member.Id}"></td>
                </p>
            </div>
        </form>
    <p>
        <button onclick="location.href='/'">로그아웃</button>
        <button onclick="location.href='members/retouch'">회원 정보 수정</button>
    </p>
</div> <!-- /container -->
</body>
</html>