<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
        <div class="form-group">
            <form action="/" method="post">
                <label for="ID">ID</label>
                <input type="text" id="ID" name="ID">
                <label for="password">Password</label>
                <input type="text" id="password" name="password">
            </form>
        </div>
    <p>
        <button onclick="location.href='/members/login'">로그인</button>
        <button onclick="location.href='/members/new'">회원 가입</button>
    </p>
</div> <!-- /container -->
</body>
</html>